<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MSDNUrl" value="https%3A%2F%2Fsocial.msdn.microsoft.com%2FForums%2Fzh-CN%2Fhome%3Fforum%3Dwindowsazurezhchs%26filter%3Dalltypes%26sort%3Dlastpostdesc"/>
    <add key="CSDNZone" value="http%3A%2F%2Fazure.csdn.net%2Fm%2Fzone%2Fazure%2Fask"/>
    <add key="CSDNUrlAsk" value="http%3A%2F%2Fask.csdn.net%2Fazure"/>

    <add key="ForumDataTemp" value="ForumDataTemp.txt"/>
    <add key="EmailFrom" value="CSDN-Forums@hotmail.com"/>
    <add key="EmailTos" value="v-jayao@microsoft.com"/>
    <add key="EmailCC" value="jierong21@microsoft.com,v-wax1212ia5@microsoft.com"/>
    <add key="driveFolder" value="D:\"/>

    <add key="WspDataTemp" value="WspDataTemp.txt"/>
    <add key="WspEmailFrom" value="CSDN-Forums@hotmail.com"/>
    <add key="WspEmailTos" value="v-jayao@microsoft.com"/>
    <add key="WspEmailCC" value="jierong2121@microsoft.com,v-wax1212ia5@microsoft.com"/>
    
    <add key="WfEmailTos" value="v-jayao@microsoft.com"/>
    <add key="WfEmailCC" value="v-jayao@microsoft.com"/>
  </appSettings>
</configuration>